.category {
  padding: 50px 20px;
  margin-bottom: 40px;
  background-color: rgb(182, 179, 179);
}

.category-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.category-search {
  position: relative;
  width: 40%;
}

.category-input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 2px solid black;
}

.category-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 46px;
  background-color: orange;
}

.category-select {
  width: 40%;
  height: 50px;
  padding-left: 20px;
  border: 2px solid black;
}

.advertisements {
  padding: 50px 0;
}

.advertisements-content {
  flex-direction: column;
}

.advertisements-size {
  cursor: pointer;

  option {
    cursor: pointer;
  }
}

.advertisements-sort {
  margin-bottom: 40px;
}

.advertisements-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.advertisement-card {
  width: calc(25% - (60px / 4));
  border: 2px solid orange;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  height: 500px;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    transition: 0.3s;
  }
}

.advertisement-cards .advertisement-card .advertisement-card-link {
  color: black;
}

.advertisement-card-img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.advertisement-card-title,
.advertisement-card-price {
  margin-bottom: 10px;
}

.advertisement-card-descr {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-content-uses.advertisement {
  margin-top: 20px;
}
