.popup-input.edit {
  margin-top: 8px;
}

.edit-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.edit-btn {
  padding: 12px 20px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: black;
}
