.preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #000;
  width: 40%;

  &:hover {
    cursor: default;
  }
}

.preview-btn {
  padding: 12px 20px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: black;
}

.items-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.item-content-left,
.item-content-right {
  width: 50%;
}

.item-content-img {
  width: 40%;
}
